#page {
    height: 100vh;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

#content {
    margin: 0px 6vw;
    margin-bottom: 2%;
    height: 100%;
    overflow: auto;
}

#grid {
    height: 100%;
}

#color-picker {
    position: absolute;
}

.ui-input {
    margin: 5px;
    margin-right: 0px;
}

#draw {
    width: 100%;
}

canvas {
    border: white inset;
    box-sizing: border-box;
    
}


.bottom-chat > .ui-text {
    margin-left: 2vw;
    width: 100%;
    min-width: 75px;
    max-height: 39px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* mobile ui patches */
/* these are vscode css parser / scanner errors, it is valid css */
@media (orientation: portrait) or (max-width: 700px) {
    #dialog { 
        width: 75%;
    }
    
    #the-grid {
        grid-template-columns: 1fr;
    }
    
    #doc, #draw {
        display: none;
    }
}